.header__bottom {
    background-image: url("../../assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 390px;
}

.donate{
    background: var(--orange_gradient, linear-gradient(316deg, rgba(254, 210, 144, 0.70) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.70) 106.36%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%));
}

.donate-title{
    padding-top: 40px;
    color: #FFF;
    font-family: Roboto;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.donate-text{
    padding-top: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.donate-subtitle{
    padding-top: 40px;
    color: #FE9013;
    font-family: Roboto;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 60px;
}

.donate{
    padding-bottom: 30px;
}

.donate__content{
    padding: 40px 92px 62px 92px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
}

.content-title{
    text-align: center;
    color: #FE9013;
    text-align: center;
    font-family: Roboto;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.content-text{
    margin-top: 10px;
    text-align: center;
    color: #333B41;
    font-family: Roboto;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.content__counter{
    display: flex;
    justify-content: center;
    margin-top: 107px;
}
.content__block{
    margin: auto 0;
}

.content__block:first-child{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-right: 16px;
}

.content__block:nth-child(2){
    margin-right: 64px;
}

.block-number{
    color: #000;
    text-align: center;
    font-size: 4em;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    text-transform: uppercase;
}

.block-text{
    color: #333B41;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.content-label{
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 48px;
}