body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header__top {
    position: fixed;
    width: 100%;
    background-color: black;
    color: #fff;
    z-index: 999;
  }
 .header__top-inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .header__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 63px;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 58px;
  }
  .header__menu-link {
    color: #fff;
    font-family: "Roboto";
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .header__menu-item.active .header__menu-link {
    color: #fe9013;
  }
  .header__bottom {
    width: 100%;
    background-image: url("/online-zoo/assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
  }
  .header__bottom-inner {
    display: flex;
    justify-content: flex-end;
  }
  .header__inner-content {
    margin-bottom: 100px;
    width: 574px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__inner-text {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
    color: #fff;
    text-align: center;
    font-size: 106.496px;
    font-style: normal;
    font-weight: 700;
    line-height: 75%; /* 79.872px */
    text-transform: uppercase;
    position: relative;
    margin-bottom: 60px;
  }
  .header__inner-text span {
    color: #ffee2e;
    font-size: 106.496px;
    font-style: normal;
  }
  .header__inner-text p {
    position: absolute;
    top: 74px;
    left: 74px;
  }
  .header__button {
    align-self: center;
    color: #fff;
    display: flex;
    width: 298px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
    color: #fff;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
  }
  
.header__btn{
  display: flex;
  border: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 0 auto;
  width: 298px;
  height: 54px;
  background: #F9804B;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.header__btn:hover{
  background-color: #E47209;
}
  
  /*   footer    */
  
  .footer{
    background: #111115;
    padding-top: 42px;
    padding-bottom: 50px;
  }
  
  .footer__top{
    display: flex;
    justify-content: space-between;
  }
  
  .footer__top-content{
    margin-top: 14px;
    display: flex;
    gap: 10px;
  }
  
  .footer__top-title{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .footer__top-input{
    padding-left: 10px;
    width: 218px;
    height: 42px;
    border-radius: 2px;
    border: 0.7px solid var(--orange, #F9804B);
    background: none;
  }
  
  .footer__top-input::placeholder{
    color: var(--Gray-4, #BDBDBD);
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  
  .footer__top-btn{
    cursor: pointer;
    width: 129px;
    height: 42px;
    color: var(--Green, #4B9200);
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 5px;
    border: 1px solid var(--Green, #4B9200);
    background: var(--gray_light, #F1F3F2);
  }
  
  .footer-btn{
    cursor: pointer;
    margin-top: 36px;
    border: none;
    border-radius: 5px;
    background: var(--orange, linear-gradient(114deg, #F9804B 1.49%, #FE9013 101.44%));
    width: 298px;
    height: 54px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
  }
  
  .footer-btn:hover{
    background: #E47209;
  }
  
  .footer__bottom{
    margin-top: 44px;
    display: flex; justify-content: space-between;
  }
  
  .footer__bottom__social{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer__bottom__social-item{
    display: flex;
    gap: 21px;
  }
  
  .footer__bottom__social-image{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/online-zoo/assets/images/footer-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .footer__bottom__social-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  
  .footer__bottom-copyright{
    margin-top: auto;
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    line-height: 130%;
  }
  
  .footer__bottom__menu{
    margin-top: auto;
    display: flex;
    gap: 58px;
  }
  
  .footer__bottom__menu-item{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  
  .footer__bottom__menu-item.active{
    background: var(--orange, linear-gradient(114deg, #F9804B 1.49%, #FE9013 101.44%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
