@media (max-width:1550px){
  .info-bg{display: none;}

  .catalog__buttons{margin: 15px 0 15px 0; height: auto; justify-content: center; gap: 171px;}
  .catalog__buttons-btn.btn-left{bottom: 0; right: 0;}
  .catalog__buttons-btn.btn-right{bottom: 0; left: 0;}
  .catalog-image.image-1{width: 194px; height: 202px; background-image: url("/assets/images/flower-1-medium.png")}
  .catalog-image.image-2{width: 241px; height: 180px; background-image: url("/assets/images/flower-2-medium.png")}
}

@media (max-width:1200px){
  .container{max-width: 940px;}

  .header__inner-content{margin-bottom: 50px;}
  .header__inner-text{margin-top: 15px; margin-left: auto; margin-right: 25px; font-size: 85px; width: 367px; height: 367px;}
  .header__inner-text span{font-size: 85px;}
  .header__btn{margin: 0 0 0 auto; width: 298px; height: 54px;}
  .header__inner-text p{top: 35 px; left: 35px;}
  
  .info-inner{padding-top: 100px; padding-bottom: 20px;}
  .info-image{width: 455px; height: 408px;}
  .info__content{width: 454px;}
  .info__content-text.text{margin-top: 25px;}
  .info__content-text.subtitle{margin-top: 51px;}

  .catalog{padding-bottom: 140px;}
  .catalog__content-image{width: 294px; height: 294px;}
  
  .help{padding: 30px 0 50px 0;}
  .help-introduction{margin-top: 20px;}
  .help-subtitle{margin-top: 20px;}
  .help-subject{margin-top: 40px;}
  .help-btn{margin-top: 57px;}

  .reviews-inner{padding: 100px 0 140px 0;}
  .reviews-image{width: 220px; height: 210.14px;}
  .reviews__content .reviews__content__template:last-child { display: none; }

}

@media (max-width:992px){
  .container{max-width: 600px;}
  
  .header__menu-burger{display: block;}
  .header__menu-list{display: none;}
  .header__inner-content{margin-bottom: 40px;}
  .header__inner-text{margin-right: 27px; width: 237.6px; height: 237.6px; font-size: 54.29px;}
  .header__inner-text span{font-size: 54.29px;}
  .header__btn{margin-left: 0;}
  .header__inner-text p{top: 26px; left: 26px;}
  .header__top-designed{display: none;}
  .header__top-logo{background-image: url("/assets/images/logo.png"); width: 57px; height: 36px; background-size: cover;}
  .header__top-logo.active{background-image: url("/assets/images/logo-active.png"); width: 53px; height: 27px; border-radius: 2px; border: 0.8px solid #FE9013; padding: 3px 3px; background-size: auto;}
  .header__menu-list-mobile{display: flex; flex-direction: column;}
  .header__menu-item{font-weight: 400; color: #333B41; padding: 0 15px; width: 600px; margin: 0 auto; padding-top: 15px;}
  .header__menu-item:not(:last-child){margin: 0 auto;}
  

  .info-inner{padding-top: 60px; padding-bottom: 0;}
  .info-bg{display: block; width: 128px; height: 476px; background-image: url("/assets/images/info-bg-medium.png")} 
  .info-image{display: none;}
  .info__content-text.text{margin-top: 20px;}
  .info__content-text.subtitle{margin-top: 30px;}

  .catalog-inner{padding-top: 46px;}
  .catalog{padding-bottom: 100px;}
  .catalog__content__template:last-child{display: none;}
  .catalog__content-image{width: 285px; height: 285px;}
  .catalog__buttons{margin: 11px 0 19px 0; gap: 30px;}
  .catalog-btn{margin-top: 60px;}
  .catalog-image.image-1{width: 134px; height: 202px;}
  .catalog-image.image-2{width: 175px; height: 131px;}

  .help{padding: 20px 0 50px 20px;}
  .help-inner{padding: 10px 20px 60px 20px;}
  .help__scheme{margin-top: 20px; position: relative; justify-content: none; gap: 42px;}
  .help__scheme-arrow{ margin-top: 0; background-image: url("/assets/images/help-arrow-small.png"); width: 89px; height: 28px; position: absolute; top: -15px;}
  .help__scheme .arrow-left{left: 125px;}
  .help__scheme .arrow-right{right: 135px;}
  .help-title{font-size: 2.625em;}
  .help-introduction{font-size: 1.375em;}
  .help-subject{margin-top: 30px;}
  .help-btn{margin-top: 40px;}

  .reviews-inner{padding: 60px 0 80px 0;}
  .reviews__content{flex-direction: column; gap: 15px; margin-top: 30px;}
  .reviews__content__template{width: 100%; height: 109px; margin-top: 0;}
  .reviews__content-text > p:last-of-type{display: none;}
  .reviews-btn{margin-top: 40px;}
  .reviews-image{width: 89px; height: 109px; background-image: url("/assets/images/reviews-bg-medium.png");}

  .footer{padding: 11px 0 12px 0;}
  .footer-inner{position: relative;}
  .footer__top-inner{display: none;}
  .footer-btn{margin-top: 32px;}
  .footer__bottom__social-text{display: none;}
  .footer__bottom__social{position: absolute; top: 0; right: 0;}
  .footer__bottom__menu{gap: 37px;}
  .footer__bottom-copyright{font-size: 0.9375em;}
}

@media (max-width:660px) {
  .container{max-width: none;}

  .header__inner-text{margin-right: 60px; width: 180.09px; height: 180.09px; font-size: 44.29px}
  .header__inner-text p{top: 8px; left: 8px;}

  .catalog-inner{padding-top: 40px;}
  .catalog__buttons{display: none;}
  .catalog-btn{margin-top: 30px;}
  .catalog__content{justify-content: none; flex-direction: column; gap: 20px;}
  .catalog__content{margin-top: 20px;}
  .catalog__content__template{width: 285px; margin: 0 auto;}

  .help__scheme{flex-direction: column; gap: 20px; width: 168px; margin: 20px auto 0 auto;}
  .help__scheme__template{height: auto;}
  .help-subtitle{display: none;}
  .help-text{display: none;}
  .help-title{font-size: 1.5em;}
  .help-introduction{text-align: center; font-size: 1.125em;}
  .help__scheme-text{margin-top: 10px;}
  .help__scheme-arrow{ margin-top: 0; background-image: url("/assets/images/help-arrow-small.png"); width: 89px; height: 28px; position: absolute; transform: rotate(90deg);}
  .help__scheme .arrow-left{top: 188px; left: 145px;}
  .help__scheme .arrow-right{top: 418px; left: 145px; right: auto;}

  .reviews-inner{padding: 30px 0 60px 0;}
  .reviews__content{margin-top: 20px;}
  .reviews__content__template{width: 100%; height: auto; margin-top: 0; padding-bottom: 12px;}
  .reviews-btn{margin-top: 30px;}
  .reviews-image{width: 43px; height: 54px;  background-image: url("/assets/images/reviews-bg-small.png")}
}

@media (max-width:620px){
  .info__content-text.title{font-size: 2em;}
  .info-bg{display: none;}

  .catalog-image.image-1{width: 58px; height: 72px; background-image: url("/assets/images/flower-1-small.png")}
  .catalog-image.image-2{width: 68px; height: 71px; background-image: url("/assets/images/flower-2-small.png")}
  
  .footer{padding: 20px 0 20px 0;}
  .footer-btn{display: block; margin: 56px auto 0 auto;}
  .footer__top-logo{background-image: url("/assets/images/logo-small.png"); width: 126px; height: 18px; margin: 0 auto 30px auto;}
  .footer__bottom__social{flex-direction: row; gap: 30px; position: absolute; left: auto; right: auto; top: 45px; }
  .footer__bottom{flex-direction: column-reverse; gap: 30px; justify-content: none; align-items: center; margin-top: 30px;}
  .footer__bottom-copyright{text-align: right;}
}

@media (max-width:410px){
  .help-btn{width: 100%;}
}

@media (max-width:370px){

  .header__inner-text{margin-right: 23px; width: 119.09px; height: 119.09px; font-size: 28px;}
  .header__inner-text span{font-size: 28px;}
  .header__btn{display: none;}

  .info-btn{display: flex;}
  .info-bg{display: block; width: 32px; height: 217px; background-image: url("/assets/images/info-bg-small.png")}  
  .info-inner{ padding-top: 30px;}
  .info__content{width: 300px;}
  .info__content-text.text{margin-top: 10px;}
  .info__content-text.subtitle{margin-top: 20px;}
  .info__content-text.title{font-size: 1.5em;}

  .reviews-btn{width: 100%;}

  .footer__bottom__menu-item{font-size: 0.8em;}
}

@media (max-width:340px){
  .info-bg{display: none;}  
}